# Database
DATABASE_URL="mysql://root:rootpassword@localhost:3306/dust_in_eyes"

# NextAuth
AUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Yandex OAuth
AUTH_YANDEX_ID=""
AUTH_YANDEX_SECRET=""

# VK OAuth
AUTH_VK_ID=""
AUTH_VK_SECRET=""

# MinIO / S3
S3_ENDPOINT="http://localhost:9000"
S3_PUBLIC_URL="http://localhost:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadmin"
S3_BUCKET="car-images"
S3_REGION="us-east-1"
